
//-------------//
//    Fonts    //
//-------------//
html,body
	--default-font: Roboto, "SF Pro TC", "SF Pro Text", "SF Pro Icons","PingFang TC", "Helvetica Neue", "Helvetica", "Arial", "Source Hans","思源黑體", "Noto Sans CJK TC", "Noto Sans TC", "Microsoft JhengHei","Microsoft Yahei", wf_SegoeUI, "Segoe UI", Segoe, "Segoe WP", Tahoma,Verdana, Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma,微軟正黑體, "LiHei Pro", "WenQuanYi Micro Hei", "Droid Sans Fallback","AR PL UMing TW", "Helvetica Neue", "Hiragino Maru Gothic ProN",メイリオ, "ヒラギノ丸ゴ ProN W4", Meiryo, "Droid Sans", sans-serif
	--product-font: "Product Sans", Roboto, "SF Pro TC", "SF Pro Text", "SF Pro Icons","PingFang TC", "Helvetica Neue", "Helvetica", "Arial", "Source Hans","思源黑體", "Noto Sans CJK TC", "Noto Sans TC", "Microsoft JhengHei","Microsoft Yahei", wf_SegoeUI, "Segoe UI", Segoe, "Segoe WP", Tahoma,Verdana, Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma,微軟正黑體, "LiHei Pro", "WenQuanYi Micro Hei", "Droid Sans Fallback","AR PL UMing TW", "Helvetica Neue", "Hiragino Maru Gothic ProN",メイリオ, "ヒラギノ丸ゴ ProN W4", Meiryo, "Droid Sans", sans-serif
	font-family: var(--default-font)
	overflow: hidden !important

//---------------------//
//  PokaPlayer banner  //
//---------------------//
.poka-logo-banner
	background-color: #2f2b3e

@media (prefers-color-scheme: dark)
	.poka-logo-banner
		background-color: rgba(0,0,0,.1)
		
//---------------------//
//       notify        //
//---------------------//
.poka-notify
	--poka-notify-bg: var(--v-primary-base)
	background: var(--poka-notify-bg)
	text-shadow: 0 0 6px var(--poka-notify-bg)
	position: relative
	margin: 16px 2px
	padding: 24px 32px
	border-radius: 16px
	color: #FFF
	box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.3)
	
//---------------------//
//      chip-nav       //
//---------------------//


.chip-nav
	position: relative
	display: flex
	flex-direction: row
	overflow-x: scroll
	margin-bottom: 16px
	.chip-nav-item
		display: flex
		flex-direction: row
		align-items: center
		padding: 6px 12px 
		text-decoration: none
		transition: all .2s ease
		color: #000
		opacity: .8
		position: relative
		font-weight: bold
		border-radius: 100em
		cursor: pointer
		.v-icon
			margin-right: 4px
		span
			white-space: pre
		&.active
			color: #FFF
			background: var(--v-primary-base)
			.v-icon
				color: #FFF

@media (prefers-color-scheme: dark)
	.chip-nav
		.chip-nav-item
			color: #FFF
//---------------------//
//       Anicons       //
//---------------------//
.anicons 
	font-family: "Anicons Regular", sans-serif 
	font-variation-settings: "TIME" 1
	transition: font-variation-settings 0.4s ease 
//---------------------//
//     transition      //
//---------------------//
//fade
.fade-enter-active,.fade-leave-active
	transition: opacity 0.15s linear
.fade-enter,.fade-leave-to
	opacity: 0

//fade-slide-up
.fade-slide-up-enter-active
	transition: all 0.3s ease
	max-height: 200px
.fade-slide-up-leave-active
	transition: all 0.3s ease
.fade-slide-up-enter,
.fade-slide-up-leave-to
	transform: scaleY(0.6) scaleX(0.7) translateY(40px)
	transform-origin: center center
	opacity: 0
	max-height: 0

//songlist
.songlist-enter, .songlist-leave-to
	opacity: 0
	filter: grayscale(100%)
	transform: scaleY(0) scaleX(0.4)
	transform-origin: center top
.songlist-leave-active
	position: absolute !important
.songlist-move
	transition: .5s cubic-bezier(0.59, 0.12, 0.34, 0.95)
	transition-property: opacity, transform, filter

//slide
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active,
.zoom-in-enter-active,
.zoom-out-enter-active,
.zoom-in-leave-active,
.zoom-out-leave-active
	transition-duration: 0.35s
	transition-property: height, opacity, transform
	transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1)
.slide-left-enter,.slide-right-leave-active
	transform: translate(3em, 0)
	opacity: 0
.slide-left-leave-active,.slide-right-enter
	transform: translate(-3em, 0)
	opacity: 0
.zoom-in-enter,.zoom-out-leave-active
	transform: scale(.9)
	opacity: 0
.zoom-in-leave-active,.zoom-out-enter
	transform: scale(1.1)
	opacity: 0 