
//-------------//
//    Fonts    //
//-------------//
html,body
	--default-font: Roboto, "SF Pro TC", "SF Pro Text", "SF Pro Icons","PingFang TC", "Helvetica Neue", "Helvetica", "Arial", "Source Hans","思源黑體", "Noto Sans CJK TC", "Noto Sans TC", "Microsoft JhengHei","Microsoft Yahei", wf_SegoeUI, "Segoe UI", Segoe, "Segoe WP", Tahoma,Verdana, Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma,微軟正黑體, "LiHei Pro", "WenQuanYi Micro Hei", "Droid Sans Fallback","AR PL UMing TW", "Helvetica Neue", "Hiragino Maru Gothic ProN",メイリオ, "ヒラギノ丸ゴ ProN W4", Meiryo, "Droid Sans", sans-serif
	--product-font: "Product Sans", Roboto, "SF Pro TC", "SF Pro Text", "SF Pro Icons","PingFang TC", "Helvetica Neue", "Helvetica", "Arial", "Source Hans","思源黑體", "Noto Sans CJK TC", "Noto Sans TC", "Microsoft JhengHei","Microsoft Yahei", wf_SegoeUI, "Segoe UI", Segoe, "Segoe WP", Tahoma,Verdana, Ubuntu, "Bitstream Vera Sans", "DejaVu Sans", Tahoma,微軟正黑體, "LiHei Pro", "WenQuanYi Micro Hei", "Droid Sans Fallback","AR PL UMing TW", "Helvetica Neue", "Hiragino Maru Gothic ProN",メイリオ, "ヒラギノ丸ゴ ProN W4", Meiryo, "Droid Sans", sans-serif
	font-family: var(--default-font)
	overflow: hidden !important
//---------------------//
//    PokaPlayer L/D   //
//---------------------//

.show-dark
	display: none
.show-light
	display: block
@media (prefers-color-scheme: dark)
	.show-light
		display: none
	.show-dark
		display: block

//---------------------//
//  PokaPlayer banner  //
//---------------------//
.poka-logo-banner
	background-image: url("/img/loginBannerBgLight.svg")
	background-size: 100%

@media (prefers-color-scheme: dark)
	.poka-logo-banner
		background-image: url("/img/loginBannerBgDark.svg")
//---------------------//
//     transition      //
//---------------------//
//fade
.fade-enter-active,.fade-leave-active
	transition: opacity 0.15s linear
.fade-enter,.fade-leave-to
	opacity: 0

//fade-slide-up
.fade-slide-up-enter-active
	transition: all 0.3s ease
	max-height: 200px
.fade-slide-up-leave-active
	transition: all 0.3s ease
.fade-slide-up-enter,
.fade-slide-up-leave-to
	transform: scaleY(0.6) scaleX(0.7) translateY(40px)
	transform-origin: center center
	opacity: 0
	max-height: 0

//songlist
.songlist-enter, .songlist-leave-to
	opacity: 0
	transform: scaleY(0) scaleX(0.7)
	transform-origin: center top
.songlist-leave-active
	position: absolute
.songlist-move
	transition: 500ms cubic-bezier(0.59, 0.12, 0.34, 0.95)
	transition-property: opacity, transform

//slide
.slide-left-enter-active,
.slide-left-leave-active,
.slide-right-enter-active,
.slide-right-leave-active
	transition-duration: 0.35s
	transition-property: height, opacity, transform
	transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1)
.slide-left-enter,.slide-right-leave-active
	transform: translate(3em, 0)
	opacity: 0
.slide-left-leave-active,.slide-right-enter
	transform: translate(-3em, 0)
	opacity: 0